{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-panel">
                <div class="content-wrapper">
                    <h2>{{ city }}</h2>
                    <div class="row">
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Vaqtga nisbatan statistika</h4>
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Mahallalar kesimidagi statistika</h4>
                                    <canvas id="barChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <p class="card-title">Ijtimoiy himoyaga olingan shaxslar ro'yhati</p>
                              <div class="row">
                                <div class="col-12">
                                  <div class="table-responsive">
                                    <table id="example" class="display expandable-table" style="width:100%">
                                      <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>FISH</th>
                                            <th>Murojaat turi</th>
                                            <th>Tashkilot</th>
                                            <th>Ajratilgan summa</th>
                                            <th>Jarayon</th>
                                            <th>Sana/vaqt</th>
                                            <!-- <th></th> -->
                                        </tr>
                                      </thead>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022.
                            All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made
                            with <i class="ti-heart text-danger ml-1"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
{% endblock content %}